* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    border: 0 !important;
}

body {
    font-family: $font-body;
    color: $dark-grey;
    font-weight: 400;
    margin: 0 auto;
    overflow-x: hidden;
    line-height: 1.25;
}

img {
    max-width: 100%;
}

.btn {
    height: 60px;
    border-radius: 8.96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.bordered {
    border-width: 1px;
    border-style: solid;
}


// Rounded buttons
@for $i from 1 through 10 {
    .rounded-#{$i} {
        border-radius: #{$i}px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

.text-italic {
    font-style: italic;
}

.bordered {
    border-width: 2px;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

//line-height
.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 0.8;
}

.line-height-4 {
    line-height: 1.14;
}

.line-height-5 {
    line-height: 1.69;
}

.line-height-6 {
    line-height: 1.4;
}

.line-height-7 {
    line-height: 1.86;
}

.line-height-8 {
    line-height: 1.55;
}

.line-height-9 {
    line-height: 1.625;
}

.line-height-10 {
    line-height: 1.367;
}

// letter spacing

.letter-spacing-n212 {
    letter-spacing: -2.12px;
}

.letter-spacing-n23 {
    letter-spacing: -2.3px;
}

.letter-spacing-n074 {
    letter-spacing: -0.74px;
}

.letter-spacing-n066 {
    letter-spacing: -0.66px;
}

.letter-spacing-n199 {
    letter-spacing: -1.99px;
}

.letter-spacing-095 {
    letter-spacing: 0.095em;
}

.letter-spacing-05 {
    letter-spacing: 0.05em;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
}

.form-control {
    font-size: 1rem;
    display: inline-block;
    border-radius: 0;
    border-color: #bbbbbb;
    background-color: $white;
    height: 60px;
    padding: 0 1.5rem;

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $black;
    }
}

textarea.form-control {
    height: 9.125rem !important;
    padding-top: 1.25rem;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 13px;
    z-index: 9;
    background: $primary;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 4px;
}