@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .slide-nav {
        position: fixed;
        background: $primary;
        height: 100%;
        z-index: 1000;
        width: 100%;
        padding: 50px;
        color: $white;
        font-family: $font-roboto;
        font-weight: 500;
        font-size: 1.25rem;
        transform: translateX(100%);
        transition: 0.2s all ease-in-out;

        &.nav-open {
            transform: translateX(0);
        }
    }

    .navigation {
        background: imgUrl("navigation.png") right top, linear-gradient(124.27deg, #0E9447 28%, #19BE60 92.45%);
        padding: 8px 0;
        background-size: cover;

        @include media-breakpoint-up(md) {
            background-size: contain;
        }

        .primary_top_menu ul {
            li {
                a {
                    color: $white;
                    font-size: 0.875rem;
                    font-weight: 700;
                }
            }
        }

        .primary_menu ul {
            padding-top: 39px;

            li {
                a {
                    color: $white;
                    font-size: 1rem;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            nav.navbar {
                flex-wrap: nowrap;
            }
        }
    }

    &.home_header {
        background: imgUrl("banner-oval.png") top left;

        .banner {
            background: imgUrl("banner-home.png") right bottom;
            position: relative;
            padding: 64px 0 330px;

            @include media-breakpoint-up(md) {
                padding: 108px 0 330px;
            }

            .sunpass_passport {
                position: absolute;
                right: 0;
            }
        }
    }

    &.subpage_header {
        .banner {
            background: imgUrl("subpage_banner.png") left bottom;
            padding: 110px 0;

            @include media-breakpoint-down(lg) {
                background-position-y: top;
                padding: 80px 0;
            }
        }
    }
}

.homepage {
    section.section_1 {
        background: imgUrl("homepage_section_1.png") right center $secondary;
        padding: 64px 0 27px;

        @include media-breakpoint-up(md) {
            padding: 99px 0 27px;
        }

        @include media-breakpoint-only(lg) {
            padding: 99px 0;
        }

        .serial_no {
            height: 54px;
            width: 54px;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.65rem;
            font-weight: 700;
            border-radius: 50%;
            color: $dark-blue;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                height: 34px;
                width: 34px;
            }
        }
    }

    section.section_2 {
        background: imgUrl('homepage_section_2_globe.png') right 43%;

        .section_2_1 {
            background: imgUrl('white-curve-1.png') center bottom rgba(2, 121, 182, 0.05);
            background-size: contain;
            padding: 64px 0;

            @include media-breakpoint-up(md) {
                padding: 80px 0;
            }

            @include media-breakpoint-up(lg) {
                padding: 120px 0;
            }

            @include media-breakpoint-up(xl) {
                padding: 187px 0 191px;
            }
        }

        .section_2_2 {
            padding: 80px 0 29px;

            @include media-breakpoint-up(xl) {
                padding: 205px 0 29px;
            }
        }

        .section_2_3 {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;
            padding: 64px 0;
            
            @include media-breakpoint-up(xl) {
                margin-bottom: 100px;
                padding: 250px 0;
            }

            @include media-breakpoint-down(xl) {
                background-image: none !important;
            }

            .description {
                padding-top: 30px;
                padding-bottom: 30px;
                line-height: 1.913;
                color: $light-grey;
                font-weight: 500;
            }
        }

        .section_2_4 {
            background: imgUrl('white-curve-2.png') center top rgba(19, 152, 76, 0.05);
            background-size: contain;
            padding: 64px 0;

            @include media-breakpoint-up(md) {
                padding: 80px 0;
            }

            @include media-breakpoint-up(lg) {
                padding: 120px 0;
            }

            @include media-breakpoint-up(xl) {
                padding: 280px 0 268px;
            }
        }

        .section_2_5 {
            background: rgba(19, 152, 76, 0.05);
            padding: 0 0 64px;
            
            @include media-breakpoint-up(lg) {
                padding: 0 0 120px;
            }

            @include media-breakpoint-up(xl) {
                padding: 0 0 223px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 24px;
            }

            .description {
                padding-top: 40px;
                padding-bottom: 24px;
                line-height: 1.913;
                color: $light-grey;
                font-weight: 500;
                letter-spacing: -0.74px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem !important;
                }

                h3 {
                    font-size: 1.6875rem;
                    color: $black  !important;

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    section.section_3 {
        background: imgUrl("homepage_section_3.png") left center;
        padding-top: 64px;

        @include media-breakpoint-up(md) {
            padding-top: 178px;
        }
    }

    section.parts {
        background: imgUrl('white-curve-1.png') center bottom rgba(19, 152, 76, 0.05);
        background-size: contain;
        padding-bottom: 265px;
        
        @include media-breakpoint-down(lg) {
            padding-bottom: 80px;
        }

        .part_1 {
            padding: 64px 0;

            @include media-breakpoint-up(md) {
                padding: 80px 0;
            }

            @include media-breakpoint-up(lg) {
                padding: 124px 0;
            }
        }

        .part_2 {
            position: relative;
            padding-top: 50px;

            .globe-left {
                position: absolute;
                z-index: -1;
            }
        }

        .part_3 {
            padding: 48px 0;

            @include media-breakpoint-up(lg) {
                padding: 93px 0 43px;
            }
        }
    }

    section.section_4 {
        padding: 80px 0;

        @include media-breakpoint-up(lg) {
            padding: 156px 0 175px;
        }

        .description {
            font-size: 1.25rem;
            line-height: 2;
            color: $light-grey;
            letter-spacing: -0.66px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }
    }
}

.benefitsOfSolar_page {
    section.section_1 {
        background: imgUrl('white-curve-2.png') center top rgba(255, 108, 0, 0.04);
        background-size: contain;
        padding: 98px 0 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
    }

    section.section_2 {
        padding: 105px 0 99px;
        background: $white;

        .heading {
            font-weight: 700;
            line-height: 1.22;
            letter-spacing: -2.31px;
            color: $secondary;
            padding-bottom: 105px;
        }

        .description {
            color: $light-grey;
            font-size: 1.25rem;
            line-height: 2;
            font-weight: 500;
            letter-spacing: -0.66px;
            padding: 39px 0 35px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }

            ul {
                list-style: none;
                padding-inline-start: 1.5rem;

                li {
                    &::before {
                        content: "\2022";
                        color: $orange;
                        font-weight: bold;
                        display: inline-block;
                        width: 2rem;
                        margin-left: -1.5rem;
                    }
                }
            }

            &.two-columns ul {
                column-count: 2;
            }
        }
    }

    section.section_3 {
        padding: 297px 0 135px;
        background: imgUrl('white-curve-2.png') center top #F2F8FB;

        .section_3_1 {
            padding-bottom: 114px;

            .heading {
                line-height: 1.28;
            }

            .description {
                color: $light-grey;
                letter-spacing: -0.66px;
                font-size: 1.125rem;
                line-height: 2;
                font-size: 500;
            }
        }

        .section_3_2 {
            padding-top: 114px;

            .description {
                color: $light-grey;
                letter-spacing: -0.74px;
                line-height: 2.1;
                font-size: 1.3125rem;
                padding: 20px 0 16px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }
    }

    section.section_4 {
        background: $secondary;
        color: $white;
        padding: 143px 0;

        .description {
            font-size: 1.3125rem;
            padding: 60px 0 44px;
            letter-spacing: -0.66px;
            line-height: 1.9;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                padding: 24px 0;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    .brands_wrapper {
        padding: 143px 0;
    }
}

.howSolarWorks_page {
    section.section_1 {
        background: $secondary;
        position: relative;
        color: $white;
        padding: 123px 0;

        .sunpass_passport {
            position: absolute;
            right: 0;
            top: -8rem;
        }

        .heading {
            line-height: 1.28;
            text-transform: capitalize;
        }

        .description {
            line-height: 2.1;
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: -0.66px;

            @include media-breakpoint-down(sm) {
                font-weight: 0.875rem;
            }
        }
    }

    section.section_2 {
        background: imgUrl('white-curve-1.png') center bottom rgba(19, 152, 76, 0.05);
        background-size: contain;

        .section_2_1 {
            padding: 178px 0;

            .heading {
                line-height: 1.125;
            }

            .description {
                color: $light-grey;
                line-height: 2;
                font-size: 1.4375rem;
                font-weight: 500;
                padding-top: 55px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }

                ul {
                    list-style: none;
                    padding-inline-start: 3.5rem;

                    li {
                        &::before {
                            content: "\2022";
                            color: $orange;
                            font-weight: bold;
                            display: inline-block;
                            width: 2rem;
                            margin-left: -1.5rem;
                        }
                    }
                }
            }
        }

        .faq_wrapper {
            padding-bottom: 236px;
        }
    }

    section.section_3 {
        background: imgUrl('aboutus_background.png') right center;

        .section_3_1 {
            padding: 163px 0 0;

            .heading {
                text-align: center;
                letter-spacing: -2.4px;
                line-height: 1.12;
                padding-bottom: 105px;
            }

            .description {
                color: $light-grey;
                font-weight: 500;
                letter-spacing: -0.84px;
                font-size: 1.4375rem;
                line-height: 1.74;

                ul {
                    list-style: none;
                    padding-inline-start: 2.5rem;

                    li {
                        padding: 16px 0;

                        &::before {
                            content: "\2022";
                            color: $orange;
                            font-weight: bold;
                            display: inline-block;
                            width: 2rem;
                            margin-left: -1.5rem;
                        }
                    }
                }
            }
        }

        .brands_wrapper {
            padding: 170px 0;
        }
    }
}

.futureOfSolar_page {
    section.section_1 {
        background: $secondary;
        position: relative;
        color: $white;
        padding: 123px 0;

        .sunpass_passport {
            position: absolute;
            right: 0;
            top: -8rem;
        }

        .heading {
            line-height: 0.9;
        }

        .description {
            line-height: 2.1;
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: -0.66px;

            @include media-breakpoint-down(sm) {
                font-weight: 0.875rem;
            }
        }
    }

    section.section_2 {
        padding-top: 65px;

        .subtitle {
            font-size: 1.125rem;
            line-height: 1.78;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        .programs {
            .program_card {
                height: 100%;
                background: rgba(19, 152, 76, 0.06);
                color: $secondary;
                padding: 24px;

                .title {
                    font-weight: 700;
                    font-size: 1.25rem;
                    letter-spacing: -1px;
                    line-height: 1;
                    padding-bottom: 16px;

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                .description {
                    font-size: 1rem;
                    letter-spacing: -0.66px;
                    line-height: 1.46875;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

    section.section_3 {
        padding-bottom: 65px;
        background: imgUrl('linear-border.png') right bottom;
    }

    section.faq_wrapper {
        padding: 19px 0 70px;
    }
}

.faq_page {
    .faq_wrapper {
        background: $secondary;
        padding: 150px 0;
        position: relative;

        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }

        .sunpass_passport {
            position: absolute;
            right: 0;
            top: -8rem;

            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }

    .brands_wrapper {
        padding: 162px 0;

        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }
    }
}

.aboutus_page {
    .top_section_wrapper {
        background: imgUrl('aboutus_background.png') right 90%;

        .section_1 {
            padding-top: 208px;
            background: imgUrl('white-curve-2.png') center top #F2F8FB;
            background-size: contain;

            @include media-breakpoint-down(xl) {
                padding-top: 150px;
            }

            @include media-breakpoint-down(lg) {
                padding-top: 120px;
            }

            @include media-breakpoint-down(sm) {
                padding-top: 80px;
            }
        }

        .section_2 {
            padding: 163px 0;
            letter-spacing: -0.84px;
            font-size: 1.75rem;
            line-height: 1.78;
            font-weight: 500;

            @include media-breakpoint-down(lg) {
                font-size: 1.25rem;
                padding: 64px 0;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                padding: 48px 0;
            }
        }

        .section_3 {
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;

            @include media-breakpoint-down(xxl) {
                background-position-x: -5rem;
            }

            @include media-breakpoint-down(xl) {
                background-position-x: -29rem;
            }

            @include media-breakpoint-down(lg) {
                background-image: none !important;
            }

            .description {
                font-weight: 500;
                letter-spacing: -0.74px;
                line-height: 1.69;
                font-size: 1.525rem;
                color: $light-grey;
                padding: 33px 16px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                    padding: 0 16px;
                }

                strong {
                    font-weight: 900;
                    color: $orange;
                }
            }
        }

        .section_4 {
            padding: 163px 0;

            @include media-breakpoint-down(lg) {
                padding: 80px 0;
            }
        }
    }


    .faq_wrapper {
        background: $secondary;
        padding: 150px 0;

        @include media-breakpoint-down(xl) {
            padding: 80px 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 64px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 48px 0;
        }
    }

    .brands_wrapper {
        background: $white;
        padding: 162px 0;

        @include media-breakpoint-down(xl) {
            padding: 80px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 64px 0;
        }
    }
}

.contactus_page {
    background-color: $white;
    position: relative;
    padding: 117px 0 191px;

    .sunpass_passport {
        position: absolute;
        right: 0;
        top: -8rem;
    }

    .form_wrapper {
        padding: 63px 45px;
        background: $white;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .input_wrapper {
            label {
                font-size: 0.75rem; // 18px
                font-weight: 700;
                color: $fade-grey;
                line-height: 1;
                margin-bottom: 17px;
            }

            input.form-control,
            select.form-control,
            textarea.form-control {
                border: 2px solid $lightest-grey;
                border-radius: 6px;
                height: 50px;
                font-size: 0.875rem;
                color: $dark-grey;
                padding: 6px 33px;
                font-weight: 500;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder {
                    color: $lightest-grey;
                }

                @include media-breakpoint-down(sm) {
                    min-height: 50px;
                }
            }
        }
    }
}

.services_page {
    section.section_1 {
        background: rgba(19, 152, 76, 0.05);
        padding: 88px 0;
        text-align: center;
    }

    section.section_2 {
        background: imgUrl('faded-solar.png') right center #087b40;
        background-size: cover;
        padding: 100px 0 155px;
        color: $white;

        .services_list {
            .service_card {
                text-decoration: none;
                color: $white;
                letter-spacing: -0.01em;

                .image {
                    height: 462px;
                    width: 100%;
                    background: #c4c4c4;
                    margin-bottom: 40px;
                }

                .title {
                    font-weight: 700;
                    line-height: 1.35;
                }

                .description {
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 2;
                    padding: 16px 0;
                }
            }
        }
    }

    section.brands_wrapper {
        padding: 53px 0;
    }
}

.innerService_page {
    section.section_1 {
        background: rgba(19, 152, 76, 0.05);
        position: relative;
        padding: 80px 0 146px;

        .heading {
            line-height: 1.23;
        }

        .service_house {
            position: absolute;
            z-index: 1000;
        }
    }

    section.section_2 {
        background: $secondary;
        color: $white;
        padding: 80px 0 94px;
        position: relative;

        .globe {
            position: absolute;
            right: 0;
            top: -50%;
        }

        .template_1 {
            .heroTitle {
                line-height: 1.236;
                letter-spacing: -1.31px;
            }

            .list {
                padding-left: 54px;
                position: relative;

                &::before {
                    content: "";
                    background: $orange;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 1rem;
                    border-radius: 50px;
                    left: 0;
                }
            }
        }

        .template_2 {
            .description {
                ul {
                    list-style: none;
                    padding-inline-start: 1.5rem;
                    column-count: 2;

                    li {
                        padding: 8px 0;
                        line-height: 2;
                        letter-spacing: -0.91px;

                        &::before {
                            content: "\2022";
                            color: $orange;
                            font-weight: bold;
                            display: inline-block;
                            width: 2rem;
                            margin-left: -1.5rem;
                        }
                    }
                }
            }
        }

        .brands_wrapper {
            padding-top: 71px;
            color: $white  !important;
        }
    }

    section.section_3 {
        padding: 108px 0 137px;
        background: imgUrl('service-rectangle.png') left center;

        .heading {
            line-height: 1.125;
            padding-bottom: 31px;

            span {
                color: $secondary;
            }
        }

        .description {
            font-size: 1rem;
            letter-spacing: -0.74px;
            line-height: 1.75;
            color: $light-grey;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $orange  !important;
                font-size: 1.5625rem;
                letter-spacing: -0.74px;
                font-weight: 700;
                padding: 16px 0;
            }

            ul {
                list-style: none;
                padding-inline-start: 1.5rem;

                li {
                    padding: 8px 0;
                    font-size: 1.3125rem;
                    font-weight: 500;
                    line-height: 2;
                    letter-spacing: -0.74px;
                    color: $dark;

                    &::before {
                        content: "\2022";
                        color: $orange;
                        font-weight: bold;
                        display: inline-block;
                        width: 2rem;
                        margin-left: -1.5rem;
                    }
                }
            }
        }
    }

    section.section_4 {
        background: $secondary;
        position: relative;
        padding: 60px 0 101px;
        color: $white;

        .sunpass_passport {
            position: absolute;
            right: 0;
            top: -8rem;
        }

        .description {
            font-size: 1.125rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }
    }
}

.areas_page {
    section.areatop {
        padding: 4rem 0;

        @media screen and (max-width: 576px) {
            padding: 2.25rem 0;
        }

        .sub-heading {
            font-size: 1.125rem;
            color: #3c4a5a;
            font-weight: normal;

            @media screen and (max-width: 576px) {
                font-size: 0.75rem;
            }

            a {
                color: #3c4a5a;
                font-weight: bold;

                &:hover {
                    color: $primary;
                }
            }
        }

        .alphbetwrap {
            padding: 0;

            .areas_allSearch {
                display: inline-block;
                background-color: $white;
                text-align: center;
                background-color: $white;
                margin-right: 1.2rem;
                font-size: 1rem;
                font-weight: bold;
                padding: 0.713rem 48px;
                color: #3c4a5a;
                cursor: pointer;
                margin-right: 0.214rem;
                border-radius: 2px;
            }

            .areas_alphabet {
                display: inline-block;
                background-color: $white;
                color: #3c4a5a;
                text-align: center;
                margin-bottom: 0.5rem;
                margin-right: 0.214rem;
                cursor: pointer;
                font-size: 1rem;
                padding: 0.713rem 1.45rem;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.35s all ease;
                border-radius: 2px;

                &:hover {
                    color: $white;
                    background-color: $primary;
                }
            }

            .active {
                background-color: $primary;
                color: $white;
            }
        }
    }

    section.areawrap {
        padding: 3.25rem 0;

        @media screen and (max-width: 576px) {
            padding: 2.75rem 0;
        }

        .all-list {
            font-size: 5rem;

            @media screen and (max-width: 576px) {
                font-size: 3.125rem;
            }

            span {
                color: $black;
            }
        }

        .arealistwrap {
            .arealist {
                background: #fafafa;
                padding: 51px;

                .suburb_link {
                    text-decoration: none;
                }

                .alphabet-title {
                    font-size: 1.875rem;
                    color: #1b2039;
                    margin-bottom: 1rem;
                }
            }


            ul {
                margin-bottom: 0;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 0 2rem;
                padding-left: 0;

                li {
                    display: inline-block;
                    padding: 0.25rem 0;

                    a {
                        font-size: 0.938rem;
                        color: $black;

                        &:hover {
                            color: $primary;
                        }
                    }
                }

                .show-more {
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .areahide {
                display: none;
            }

            .mbottom {
                margin-bottom: 7.2rem;

                @media screen and (max-width: 576px) {
                    margin-bottom: 2rem;
                }
            }

            .seemore {
                color: #959595;
                font-style: italic;
                text-decoration: underline;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    color: $primary;
                }
            }
        }

        .arealisthide {
            display: none;
        }

        h2 {
            font-size: 3.6rem;
            text-align: center;
            font-style: italic;
            margin-bottom: 7rem;
        }

        .areas_loadMoreWrap {
            position: relative;
            text-align: center;
            padding: 3rem 0 1.6rem;

            a {
                width: auto;
                display: inline-flex;
            }
        }
    }

    .areas_droplist {
        position: relative;
        z-index: 9;
    }

    .areas_droplist>.caption {
        border: 1px solid #c4c4c4;
        padding: 11px 24px;
        border-radius: 0;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0.5rem;
            top: 35%;
            border: solid $primary;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: all 0.35s ease;
        }
    }

    .areas_droplist>.list {
        position: absolute;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0 0 3px 3px;
        display: none;
    }

    .areas_droplist>.list>.item {
        padding: 11px 24px;
        background-color: #cecece;
        cursor: pointer;
    }

    .areas_droplist>.list>.item.selected {
        font-weight: bold;
    }

    .areas_droplist>.caption:hover,
    .areas_droplist>.list>.item:hover {
        background-color: $primary;
        color: #fff;
    }

    .areas_droplist.open>.caption {
        border-radius: 3px 3px 0 0;
        border-bottom: solid 1px #999;
    }

    .areas_droplist.open>.list {
        display: block;
        z-index: 99;
    }

    section.map {
        iframe {
            height: 696px;
            width: 100%;
            margin-bottom: -5px;
        }
    }
}

.suburb_page {
    section.section_1 {
        background: imgUrl('white-curve-1.png') center bottom rgba(19, 152, 76, 0.05);

        .section_1_1 {
            padding: 104px 0;
            position: relative;

            .globe-left {
                position: absolute;
                z-index: -1;
            }
        }

        .heading {
            line-height: 1.2;
        }

        @include media-breakpoint-down(sm) {
            .subheading {
                font-size: 1rem;
            }

            .description {
                font-size: 0.875rem;
            }
        }
    }

    .faq_wrapper {
        padding-top: 93px;
    }

    section.section_2 {
        padding: 66px 0 92px;

        .heading {
            line-height: 1.125;
            padding-bottom: 31px;
        }

        .description {
            font-size: 1.25rem;
            letter-spacing: -0.74px;
            line-height: 1.75;
            color: $light-grey;
        }
    }
}

.loanoptions_page {
    section.section_1 {
        background: rgba(19, 152, 76, 0.05);
        padding: 56px 0;
        color: $dark-grey;
        letter-spacing: -0.91px;
    }

    section.section_2 {
        background: imgUrl('loan-options-globe.png') right bottom $secondary;
        padding: 80px 0 103px;
        color: $white;
        letter-spacing: -0.91px;

        .heading {
            letter-spacing: -1.43px;
            padding-bottom: 95px;

            @include media-breakpoint-down(xl) {
                padding-bottom: 48px;
            }
        }

        .list {
            padding-left: 54px;
            position: relative;

            &::before {
                content: "";
                background: $orange;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 1.3rem;
                border-radius: 50px;
                left: 0;
            }
        }
    }

    section.section_3 {
        padding: 80px 0;

        .vertical_divider {
            width: 2px;
            height: 192px;
            background-color: $lightest-grey;
        }
    }

    section.brands_wrapper {
        padding-bottom: 53px;
    }
}

.propertyType_page {
    section.products {
        background: imgUrl('homepage_section_2_globe.png') right center;

        .products_inner {
            padding: 44px 0 82px;
            background: imgUrl('property-type.png') center top;
            background-size: contain;

            .description {
                padding: 40px 0;
            }

            .nav {
                .nav-link {
                    background: none;
                    border: 1px solid $orange;
                    border-radius: 0;
                    color: $light-grey;
                    margin: 0 6px;
                    height: 56px;
                    width: 131px;
                    font-size: 1.25rem;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }

    section.parts {
        background: imgUrl('white-curve-1.png') center bottom rgba(19, 152, 76, 0.05);
        background-size: contain;
        padding-bottom: 265px;


        .part_1 {
            padding: 124px 0;
        }

        .part_2 {
            position: relative;
            padding-top: 50px;

            .globe-left {
                position: absolute;
                z-index: -1;
            }
        }

        .part_3 {
            padding: 93px 0 43px;
        }
    }
}

.governmentRebates_page {
    background: imgUrl('globe-left.png', 'lib') left center rgba(19, 152, 76, 0.05);
    padding: 60px 0;

    .solar-rebate-calculator {
        padding: 16px 0;

        #rebateCalc_alert {
            display: none;
        }

        .input_wrapper {
            label {
                letter-spacing: -0.75px;
                font-size: 1.25rem;
                color: $dark-grey;
                margin-bottom: 16px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            .form-control {
                border: 0;
                height: 70px;
                color: rgba(66, 66, 66, 0.5);

                @include media-breakpoint-down(sm) {
                    height: 54px;
                }
            }
        }

        .range {
            height: 80px;
            width: 100%;
            position: relative;

            .field {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                input {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 8px;
                    width: 100%;
                    background: $white;

                    &::-webkit-slider-thumb {
                        height: 30px;
                        width: 30px;
                        background-color: $secondary;
                        border-radius: 30px;
                        cursor: pointer;
                        -webkit-appearance: none;
                    }
                }
            }

            .sliderValue {
                position: absolute;
                border-radius: 5px;
                height: 22px;
                width: 22px;
                background: $secondary;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(4px);
                position: absolute;
                top: -13px;
                z-index: 2;
                font-size: 12px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 29%;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $secondary transparent transparent transparent;
                }
            }
        }

        .submit_button {
            background: $secondary;
            width: 100%;
            height: 70px;
            color: $white;
            border: 0;
            font-size: 1.25rem;
            letter-spacing: 00.75px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                height: 54px;
            }
        }
    }

    section.section_1 {
        padding: 108px 0 32px;

        .heading {
            padding-bottom: 31px;

            span {
                color: $secondary;
            }
        }

        .description {
            font-size: 1.25rem;
            letter-spacing: -0.74px;
            line-height: 1.75;
            color: $light-grey;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $orange  !important;
                font-size: 1.5625rem;
                letter-spacing: -0.74px;
                font-weight: 700;
                padding: 16px 0;
            }

            ul {
                list-style: none;
                padding-inline-start: 1.5rem;

                li {
                    padding: 8px 0;
                    font-size: 1.3125rem;
                    font-weight: 500;
                    line-height: 2;
                    letter-spacing: -0.74px;
                    color: $dark;

                    &::before {
                        content: "\2022";
                        color: $orange;
                        font-weight: bold;
                        display: inline-block;
                        width: 2rem;
                        margin-left: -1.5rem;
                    }
                }
            }
        }
    }
}

footer {
    background: imgUrl('footer.png') right bottom, linear-gradient(136.9deg, $tertiary 31.95%, $secondary 83.91%);
    color: $white;

    @include media-breakpoint-down(sm) {
        margin-top: 1.5rem;
    }

    .social_username {
        font-size: 1.125rem;
        padding-left: 12px;

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
        }
    }

    hr {
        border-color: $white;
        border-width: 2px;
        margin: 0;
    }

    .navigation_wrapper {
        padding: 24px 0 48px;

        @include media-breakpoint-up(md) {
            padding: 60px 0 81px;
        }

        .footer_menu ul,
        .solar_services ul {
            padding-inline-start: 0;

            li {
                font-size: 0.875rem;
                list-style: none;

                a {
                    font-family: $font-roboto;
                    color: $white;
                    text-decoration: none;
                    padding: 9px 0 !important;

                    @include media-breakpoint-down(sm) {
                        padding: 4px 0 !important;
                    }
                }
            }
        }

        .solar_services {
            column-count: 2;
        }
    }

    .footer_bottom_wrapper {
        font-size: 0.875rem;
        padding: 24px 0;

        .footer_bottom_menu ul {
            display: flex;
            padding-inline-start: 0;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            li {
                list-style: none;
                text-align: center;
            }
        }
    }
}

// Styling for parts

.brands {
    .heading {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .button {
        color: $yellow;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .horizontal_line {
        height: 2px;
        background: #EAE9F2;
        width: 100%;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .brands_slider {
        .slick-track {
            display: flex;
            justify-content: space-between;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

.brighte_promo {
    background: $orange-light;
    font-size: 1.875rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.125rem;
    }
}

.sustainability {
    .description_text {
        color: $light-grey;
        font-size: 1.125rem;
        line-height: 2;

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
        }
    }
}

.faq {
    .accordion-container {
        width: 100%;

        .accordion-card {
            margin: 50px 0;

            @include media-breakpoint-down(xl) {
                margin: 35px 0;
            }

            @include media-breakpoint-down(lg) {
                margin: 25px 0;
            }

            @include media-breakpoint-down(sm) {
                margin: 20px 0;
            }

            .accordion-head {
                background-color: $white;
                color: $black;
                cursor: pointer;
                font-weight: 700;
                text-transform: capitalize;
                transition: 0.2s all;
                font-size: 1.125rem;
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-up(md) {
                    font-size: 1.5rem; // 24px
                }

                @include media-breakpoint-up(xl) {
                    font-size: 2rem; // 24px
                }

                .main-question {
                    padding: 21px 31px;
                    // max-width: 91%;

                    @include media-breakpoint-down(sm) {
                        // max-width: 95%;
                        padding: 21px 16px;
                    }
                }

                .plusminus {
                    width: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(106deg, $white 18%, rgba(255, 108, 0, 0.08) 0 100%);
                    background-size: contain;
                }

                &.active {
                    border-bottom: 1px solid #F2F8FB;

                    .plusminus {
                        color: $white;
                        background: linear-gradient(106deg, $white 18%, rgba(255, 108, 0, 1) 0 100%);
                    }
                }
            }

            .accordion-body {
                background: $white;
                color: $fade-grey;
                display: none;
                padding: 24px 1rem;
                font-weight: 500;
                line-height: 2;
                font-size: 1.125rem; // 18px

                @include media-breakpoint-up(md) {
                    padding: 43px 32px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }

        &.active {
            display: block;
        }
    }
}