$primary: #0E9447;
$secondary: #13984C;
$tertiary: #09823C;
$primary-dark: #116635;
$primary-light: #19BE60;
$yellow: #FFC500;
$orange: #FF6C00;
$orange-light: #F8971D;
$blue: #3371F2;
$dark-blue: #004994;
$black: #000000;
$dark: #19191B;
$dark-grey: #333333;
$grey: #666666;
$light-grey: #696871;
$fade-grey: #818493;
$lighter-grey: #A19E9E;
$lightest-grey: #E1E1E1;
$light: #f3faf6;
$white: #ffffff;
$danger: red;

$theme-colors: (
    ) !default;
$theme-colors: map-merge(("primary":$primary,
            "secondary":$secondary,
            "tertiary":$tertiary,
            "primary-dark":$primary-dark,
            "primary-light":$primary-light,
            "yellow":$yellow,
            "orange":$orange,
            "orange-light":$orange-light,
            "blue":$blue,
            "dark-blue":$dark-blue,
            "black":$black,
            "dark":$dark,
            "dark-grey":$dark-grey,
            "grey":$grey,
            "light-grey":$light-grey,
            "lighter-grey":$lighter-grey,
            "lightest-grey":$lightest-grey,
            "fade-grey":$fade-grey,
            "light":$light,
            "white":$white,
            "danger": $danger ),
        $theme-colors
);

// Grid Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1440px,
    xxl: 1748px,
    ) !default;
// Container sizing
$container-max-widths: (
    sm: 540px,
    md: 740px,
    lg: 1280px,
    xl: 1380px,
    ) !default;

$spacer: 1rem !default;
$spacers: (
    ) !default;
$spacers: map-merge((0: 0,
            1: $spacer * 0.25,
            2: $spacer * 0.5,
            3: $spacer,
            4: $spacer * 1.5,
            5: $spacer * 3,
            6: $spacer * 4,
            7: $spacer * 5,
            8: $spacer * 6,
            9: $spacer * 7,
            10: $spacer * 10,
            11: $spacer * 11,
            12: $spacer * 12,
            13: $spacer * 13,
            14: $spacer * 14,
            15: $spacer * 15,
        ),
        $spacers
);

$font-sizes: (
    96: 96px,
    80: 80px,
    75: 75px,
    73: 73px,
    70: 70px,
    64: 64px,
    60: 60px,
    57: 57px,
    54: 54px,
    50: 50px,
    45: 45px,
    43: 43px,
    40: 40px,
    36: 36px,
    33: 33px,
    31: 31px,
    30: 30px,
    27: 27px,
    25: 25px,
    24: 24px,
    23: 23px,
    21: 21px,
    20: 20px,
    18: 18px,
    16: 16px,
    14: 14px,
    12: 12px
);


$border-radius: .25rem !default;
$border-radius-pill: 50rem !default;

$utilities: (
    ) !default;
$utilities: map-merge(("line-height":(property: line-height,
                class: lh,
                responsive: true,
                values: (1: 1,
                    2: 2,
                    3: 0.8,
                    4: 1.14,
                    5: 1.69,
                    6: 1.4,
                    7: 1.86,
                    8: 1.55,
                    9: 1.625,
                    10: 1.367,
                    11: 1.78)),
            "rounded": (property: border-radius,
                class: rounded,
                responsive: true,
                values: (null: $border-radius,
                    0:0,
                    1:1px,
                    2:2px,
                    3:3px,
                    4:4px,
                    5:5px,
                    6:6px,
                    7:7px,
                    8:8px,
                    9:9px,
                    10:10px,
                    20:20px,
                    circle: 50%,
                    pill: $border-radius-pill )),
            "letter-spacing": (property: letter-spacing,
                class: ls,
                values: (1: 0.01em,
                    2: -0.2em,
                    "n1_85": -1.85px)),
            "font-weight": (property: font-weight,
                class: fw,
                responsive: true,
                values: (100:100,
                    200:200,
                    300:300,
                    400:400,
                    500:500,
                    600:600,
                    700:700,
                    800:800,
                    900:900))), $utilities
);